packer_cache
vmware/packer/*/variables.json
vmware/consul/tls
vmware/consul/binary
vmware/consul/snapshot-agent/acl_token
vmware/vault/tls
vmware/vault/binary
*.DS_Store
login_info
terraform.tfstate*
*.terraform*