prometheus:
  prometheusSpec:
    podMetadata:
      annotations:
        "vault.hashicorp.com/agent-inject": "true"
        "vault.hashicorp.com/role": "prometheus"
        "vault.hashicorp.com/agent-inject-token": "true"
  serviceAccount:
    name: prometheus-sa
  additionalServiceMonitors:
    - name: prometheus-kube-prometheus-vault
      selector:
        matchLabels:
          app.kubernetes.io/name: vault
      namespaceSelector:
        matchNames:
          - vault
      endpoints:
        - bearerTokenFile: /vault/secrets/token
          path: /v1/sys/metrics
          interval: 5s
          targetPort: 8200