kube-state-metrics:
  image:
    repository: k8s.gcr.io/kube-state-metrics-arm64
    tag: v1.9.5
grafana:
  ingress:
    enabled: true
    hosts:
      - grafana.coldbrew.labs
  additionalDataSources:
    - name: loki
      type: loki
      orgId: 1
      url: http://loki.logging:3100
      version: 1
      access: proxy
      editable: false
prometheus:
#  prometheusSpec:
#    podMetadata:
#      annotations:
#        'vault.hashicorp.com/agent-inject': 'true'
#        'vault.hashicorp.com/role': 'prometheus'
#        'vault.hashicorp.com/agent-inject-token': 'true'
  serviceAccount:
    name: prometheus-sa
  ingress:
    enabled: true
    hosts:
      - prometheus.coldbrew.labs
#  additionalServiceMonitors:
#    - name: prometheus-kube-prometheus-vault
#      selector:
#        matchLabels:
#          app.kubernetes.io/name: vault
#      namespaceSelector:
#        matchNames:
#          - vault
#      endpoints:
#        - bearerTokenFile: /vault/secrets/token
#          path: /v1/sys/metrics
#          interval: 5s
#          targetPort: 8200